name: Basic CI

on:
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Hello task
        run: echo "Hello from SAM application!!!"

      - name: Second task
        run: echo "Hello beautiful!!!"
